<?xml version="1.0"?>
<config>
    <modules>
        <Mcashp_Affiliate>
            <version>1.0.0</version>
        </Mcashp_Affiliate>
    </modules>

    <default>
        <mcashpaffiliate>
            <general>
                <active>0</active>
                <test>1</test>
                <commission>10.5</commission>
                <cookie_lifetime>4</cookie_lifetime>
            </general>
        </mcashpaffiliate>
    </default>

    <global>
        <helpers>
            <mcashpaffiliate>
                <class>Mcashp_Affiliate_Helper</class>
            </mcashpaffiliate>
        </helpers>

        <resources>
            <affiliate_setup>
                <setup>
                    <module>Mcashp_Affiliate</module>
                    <class>Mcashp_Affiliate_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </affiliate_setup>
            <affiliate_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </affiliate_write>
            <affiliate_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </affiliate_read>
        </resources>

        <events>
            <controller_action_predispatch>
                <observers>
                    <mcashpaffiliate_track>
                        <type>singleton</type>
                        <class>Mcashp_Affiliate_Model_Observer</class>
                        <method>track</method>
                    </mcashpaffiliate_track>
                </observers>
            </controller_action_predispatch>
            <customer_login>
                <observers>
                    <mcashpaffiliate_login>
                        <type>singleton</type>
                        <class>Mcashp_Affiliate_Model_Observer</class>
                        <method>login</method>
                    </mcashpaffiliate_login>
                </observers>
            </customer_login>
            <customer_register_success>
                <observers>
                    <mcashpaffiliate_register>
                        <type>singleton</type>
                        <class>Mcashp_Affiliate_Model_Observer</class>
                        <method>register</method>
                    </mcashpaffiliate_register>
                </observers>
            </customer_register_success>
            <sales_quote_save_before>
                <observers>
                    <mcashpaffiliate_quote_save_before>
                        <type>singleton</type>
                        <class>Mcashp_Affiliate_Model_Observer</class>
                        <method>quoteSaveBefore</method>
                    </mcashpaffiliate_quote_save_before>
                </observers>
            </sales_quote_save_before>
            <sales_order_place_after>
                <observers>
                    <mcashpaffiliate_lead>
                        <type>singleton</type>
                        <class>Mcashp_Affiliate_Model_Observer</class>
                        <method>lead</method>
                    </mcashpaffiliate_lead>
                </observers>
            </sales_order_place_after>
            <sales_order_invoice_pay>
                <observers>
                    <mcashpaffiliate_sale>
                        <type>singleton</type>
                        <class>Mcashp_Affiliate_Model_Observer</class>
                        <method>sale</method>
                    </mcashpaffiliate_sale>
                </observers>
            </sales_order_invoice_pay>
        </events>
    </global>
</config>
