<?xml version="1.0"?>
<config>
    <sections>
        <mcashpaffiliate translate="label" module="mcashpaffiliate">
            <label>Affiliate</label>
            <tab>mcashp</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="mcashpaffiliate">
                    <label>Affiliate Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled: </label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </active>
                        <test translate="label">
                            <label>Test mode: </label>
                            <comment>Commissions will not be generated but simulated.</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </test>
                        <commission translate="label">
                            <label>Commission: </label>
                            <comment>Commission in percent (ie 10.5 for 10.5%)</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </commission>
                        <cookie_lifetime translate="label">
                            <label>Cookie lifetime: </label>
                            <comment>Cookie lifetime in weeks (2 - 6240)</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cookie_lifetime>
                    </fields>
                </general>
            </groups>
        </mcashpaffiliate>
    </sections>
</config>
